<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="contents-box">
		<!-- 글쓰기 영역(로그인 된 사람만 보임) -->
		<div th:if="${session.userSimple != null}" class="write-box border rounded m-3" >
			<textarea id="writeTextArea" placeholder="내용을 입력해주세요" class="w-100 border-0"></textarea>
			
			<div class="d-flex justify-content-between">
				<div class="file-upload d-flex align-items-center">
					<!-- file 태그를 숨겨두고 이미지를 클릭하면 파일을 클릭한 것과 같은 효과를 준다. -->
					<input type="file" id="file" accept=".jpg, .png, .gif" class="d-none">
				
					<!-- 이미지에 마우스 올리면 마우스 커서가 link로 변경 -->
					<a href="#" id="fileUploadBtn"><img width="35" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png"></a>
					
					<div id="fileName" class="ml-2"></div>
				</div>
				<button id="writeBtn" class="btn btn-info">게시</button>
			</div>
		</div>
		
		<!-- 타임라인 영역 -->
		<div class="timeline-box my-5">
			
			<!-- 글(카드) 반복 -->
			<div th:each="postCard : ${postCardList}" class="card border rounded mt-3">
				<!-- 글쓴이, 더보기(삭제) -->
				<div class="p-2 d-flex justify-content-between">
					<span class="font-weight-bold" th:text="${postCard.name}">글쓴이</span>
					
					<!-- 더보기 ...(로그인 된 사람과 글쓴이 정보 일치할 때 보이게) -->
					<a th:if="${session.userSimple != null && session.userSimple.userId == postCard.userId}" href="#" class="more-btn" data-toggle="modal" data-target="#modal" th:data-post-id="${postCard.postId}">
						<img src="https://www.iconninja.com/files/860/824/939/more-icon.png" width="30">
					</a>
				</div>
				
				<!-- 본문 이미지 -->
				<div class="card-img">
					<img th:src="${postCard.imagePath}" class="w-100" alt="본문 이미지">
				</div>
				
				<!-- 좋아요 -->
				<div class="card-like m-3">
					<a href="#" class="like-btn" th:data-post-id="${postCard.postId}">
						<img th:if="${postCard.filledLike == false}" src="https://www.iconninja.com/files/214/518/441/heart-icon.png" width="18" height="18" alt="empty heart">
						<img th:unless="${postCard.filledLike == false}" src="https://www.iconninja.com/files/527/809/128/heart-icon.png" width="18" height="18" alt="filled heart">
					</a>
					<span th:text="'좋아요 ' + ${postCard.likeCount} + '개'">좋아요 13개</span>
				</div>
				
				<!-- 글 -->
				<div class="card-post m-3">
					<span class="font-weight-bold" th:text="${postCard.name}">글쓴이</span>
					<span th:text="${postCard.content}">글 내용입니다!!!!</span>
				</div>
				
				<!-- 댓글 제목 -->
				<div class="card-comment-title border-bottom">
					<div class="font-weight-bold ml-3 mb-1">댓글</div>
				</div>
				
				<!-- 댓글 목록 -->
				<div class="card-comment-list m-2">
					<!-- 댓글들 -->
					<div th:each="comment : ${postCard.comment}" class="card-comment m-1">
						<span class="font-weight-bold" th:text="${comment.nickName}">댓글쓰니</span>
						<span th:text="${comment.content}">댓글 내용임</span>
						
						<!-- 댓글 삭제(자신의 댓글만 가능) -->
						<a  th:if="${ session.userSimple != null && comment.userId == session.userSimple.userId}" href="#" class="comment-del-btn" th:data-comment-id="${comment.id}">
							<img src="https://www.iconninja.com/files/603/22/506/x-icon.png" width="10" height="10">
						</a>
					</div>
					
					<!-- 댓글 쓰기 -->
					<div class="comment-write d-flex border-top mt-2">
						<input type="text" class="comment-input form-control border-0 mr-2" placeholder="댓글 달기">
						<button type="button" class="comment-btn btn btn-light" th:data-post-id="${postCard.postId}">게시</button>
					</div>
				</div> <!-- 댓글 끝 -->
			</div> <!-- 카드 끝 -->
		</div> <!-- 타임라인 박스 끝 -->
		<!-- Modal: 타임리프 레이아웃 때문에 section(fragment) 태그 안쪽에 위치 -->
		<div class="modal fade" id="modal">
			<!-- modal-sm: 작은 모달창 -->
			<!-- modal-dialog-centered: 수직 기준 가운데 -->
			<div class="modal-dialog modal-dialog-centered modal-sm">
				<div class="modal-content text-center">
					<div class="py-3">
						<a href="#" id="postDelBtn">삭제하기</a>
					</div>
					<div class="py-3 border-top">
						<a href="#" data-dismiss="modal">취소</a>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- 컨텐츠 박스 끝 -->
	
</section>

<th:block layout:fragment="script">
    <script>
		$(document).ready(function() {
			// 이미지 a태그 클릭 => 숨겨져 있는 id="file" 동작 시킨다.
			$("#fileUploadBtn").on("click", function (e) {
				e.preventDefault(); // 위로 올라가는 현상 방지
				$("#file").click();				
			});
			
			$("#file").on("change", function(e) {
				// 취소 누를 때 처리(파일이 비워지므로 name을 뽑다가 에러)
				if (e.target.files[0] == null){
					$("#fileName").val(""); // 보이진 않지만 파일 태그에 올라온 것 제거
					$("#fileName").text(""); // 파일명도 초기화
					return;
				}
				let fileName = e.target.files[0].name;
				
				let ext = fileName.split(".").pop().toLowerCase();
				console.log(ext);
				
				if (ext != "gif" && ext != "png" && ext != "jpg") {
					alert("이미지 파일만 업로드 할 수 있습니다.")
					$("#fileName").val(""); // 보이진 않지만 파일 태그에 올라온 것 제거
					$("#fileName").text(""); // 파일명도 초기화
					return;
				}
				
				$("#fileName").text(fileName);
			});
			
			$("#writeBtn").on("click", function() {
				let fileName = $("#file").val();
				let content = $("#writeTextArea").val();
				if (!fileName) {
					alert("파일을 업로드 하세요.");
					return;
				}
				
				let ext = fileName.split(".").pop().toLowerCase();
				
				if (ext != "gif" && ext != "png" && ext != "jpg") {
					alert("이미지 파일만 업로드 할 수 있습니다.")
					$("#fileName").val(""); // 보이진 않지만 파일 태그에 올라온 것 제거
					$("#fileName").text(""); // 파일명도 초기화
					return;
				}
				
				let formData = new FormData();
				formData.append("content", content)
				formData.append("file", $("#file")[0].files[0]);
				
				$.ajax({
					type:"POST"
					, url:"/post/create"
					, data: formData
					, processData:false  // 파일업로드 필수 설정
					, contentType:false  // 파일업로드 필수 설정
					, enctype:"multipart/form-data"  // 파일업로드 필수 설정
					, success:function(data) {
						if(data.code == 200) {
							location.reload();
						} else if (data.code == 500){
							alert(data.error_message);
						} else if (data.code == 403) {
							alert(data.error_message);
							location.href="/user/sign-in-view";
						}						
					}
					, error:function(e) {
						alert("게시글쓰기에 실패 했습니다.");
					}
				});
			});
			
			$(".comment-btn").on("click", function() {
				let content = $(this).prev().val().trim();
				// $(this).siblings("input" or "#.." 등등).val().trim();
				
				let postId = $(this).data("post-id");
				
				if (!content) {
					alert("댓글을 입력해주세요.");
					return;
				}
				
				$.ajax({
					type:"POST"					
					, url:"/comment/create"
					, data:{"content":content, "postId":postId}
					, success:function(data) {
						if (data.code == 200) {
							location.reload();
						} else if (data.code == 500) {
							alert(data.error_message);
						} else if (data.code == 403) {
							alert(data.error_message);
						}
					}
					, error:function(e) {
						alert("댓글 개시에 실패했습니다.");
					}
					
				});
				
			});
			
			$(".comment-del-btn").on("click", function(e) {
				e.preventDefault();
				let commentId = $(this).data("comment-id");
				$.ajax({
					type:"DELETE"
					, url:"/comment/delete"
					, data: {"commentId":commentId}
					, success: function(data) {
						if(data.code == 200) {
							location.reload();
						} else {
							alert(data.error_message);
						}
						
					}
					, error: function(e) {
						alert("댓글 삭제 실패");
					}
					
				});
			});
			
			$(".like-btn").on("click", function(e) {
				e.preventDefault();
				let postId = $(this).data("post-id");
				$.ajax({				
					url:"/like/" + postId
					, success: function(data) {
						if(data.code == 200) {
							location.reload();
						} else {
							alert(data.error_message);
						}
						
					}
					, error: function(e) {
						alert("좋아요를 하는데 실패했습니다.");
					}
				});
			});
			
			// 더보기 ... 클릭 => 1) 모달 뜸 2) postId를 modal에 껴넣기
			$(".more-btn").on("click", function() {
				let postId = $(this).data("post-id"); // get
				
				// 1개만 존재하는 modal을 재활용하기 위해
				// modal에 data-post-id를 심어 놓는다.
				$("#modal").data("post-id", postId); // set
				
			});
			
			$("#postDelBtn").on("click", function(e) {
				e.preventDefault();
				let postId = $("#modal").data("post-id");
				$.ajax({
					type:"DELETE"
					, url:"/post/delete"
					, data: {"postId":postId}
					, success: function(data) {
						if(data.code == 200) {
							location.reload();
						} else {
							alert(data.error_message);
						}
						
					}
					, error: function(e) {
						alert("게시글을 삭제하는데 실패했습니다.");
					}
				});			
			})
		});
    </script>
</th:block>